@import '~resources/css/Variables';

@font-face {
    font-family: 'Pacifico';
    src: url('~resources/fonts/Pacifico.ttf');
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
}


:root {
    --mainColor: #000000ff;
}

#logo-container {
    background-color: var(--mainColor);
}

#logo-img {
    width: $size;
    height: $size;
    margin: auto;
    display: block;
}

#header-text {
    font-family: 'Pacifico';
    font-size: 2em;
    text-align: center;
    color: #61dafbff;
    background-color: black;
}

@custom-selector :--cw .centered-widget;

:--cw {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

::placeholder {
    color: gray;
}